@media (max-width: 1250px) {
  #carouselContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #carouselIndicators {
    height: fit-content;
    width: 90vw;
  }

  .carousel-inner {
    height: fit-content;
    width: 90vw;
  }

  #cards {
    display: flex;
    gap: 6vh;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin: 50px 0;
  }

  .card {
    max-width: 500px;
    margin-top: 0;
    padding-top: 0;
  }

  .card-label {
    padding: 0;
  }

  .card-content {
    display: flex;
    width: calc(100% - 2px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .card-title {
    padding: 1vh 0;
    width: 100%;
  }

  .card-content ul {
    max-width: 100vw;
  }

  .card-content li {
    min-width: 75vw;
  }
}

@media (max-width: 768px) {
  .row>.aos-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }
}
