@media screen {
  h1 {
    background: linear-gradient(to right, #1177ff, #1ab1ff);
    -webkit-background-clip: text; /* For earlier versions of Chrome and Safari */
    background-clip: text; /* Standard syntax for modern browsers (widely supported) */
    -webkit-text-fill-color: transparent;
    /* background-size: 200% 100%;
    animation: gradientAnimation 5s ease infinite; */
  }

  .no-typing {
    display: none;
  }

  img:not(#logo, .check-circle),
  svg,
  to-top {
    filter: drop-shadow(3px 4px 3px #0000004d) !important;
  }

  #bmc-link,
  #bmc-arrow {
    display: none;
  }
}

@media (max-width: 1250px) {
  #carouselContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .carousel-indicators {
    bottom: 0; /* Position the element relative to the bottom edge of its nearest positioned ancestor */
  }

  #carouselIndicators {
    height: fit-content; /* Set the height of the element */
    width: 90vw; /* Set the width of the element */
  }

  .carousel-inner {
    height: fit-content; /* Set the height of the element */
    width: 90vw; /* Set the width of the element */
  }

  #cards {
    height: 100%; /* Set the height of the elemenet */
    margin: 50px 0; /* Set the size of the margin */
    display: flex;
    gap: 6vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .card {
    max-width: 500px; /* Set the maximum width of the element */
    margin-top: 0;
    padding-top: 0;
  }

  .card-label {
    padding: 0; /* Set the size of the padding */
  }

  .card-content {
    width: calc(100% - 2px); /* Set the width of the element */
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-title {
    padding: 1vh 0;
    width: 100%;
  }

  .card-content ul {
    max-width: 100vw;
  }

  .card-content li {
    min-width: 75vw;
  }
}

@media (min-width: 1450px) {
  section > h1.display-4 {
    font-size: 10vh;
  }

  div.col-lg-6.mx-auto > p.lead {
    font-size: 2.25rem;
  }

  div.justify-content-sm-center > a {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: calc(33.33333333% - 10px);
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(33.33333333% - 10px);
  }

  #theme {
    position: absolute;
    right: 12px;
    left: auto;
  }
}

@media (max-width: 950px) {
  #testimonials {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 768px) {
  #footerContainer {
    padding-bottom: 3rem;
  }

  .row > .aos-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }

  to-top.active {
    bottom: 10.75rem; /* Position the element relative to the bottom edge of its nearest positioned ancestor */
  }
}

@media (min-width: 576px) {
  .row-cols-sm-2 > * {
    width: calc(50% - 10px);
  }
}

@media (max-width: 610px) {
  #subscribeForm,
  #emailInput {
    min-width: 100%;
  }
}

@media (max-width: 430px) {
  th:nth-of-type(1),
  td:nth-of-type(1) {
    max-width: 27vw;
  }

  iframe {
    height: 80vh;
  }

  #carouselIndicators {
    height: auto; /* Set the height of the element */
    width: 90vw; /* Set the width of the element */
  }

  #testimonialCarousel .carousel-control-prev,
  #testimonialCarousel .carousel-control-next {
    width: 10%; /* Set the width of the element */
  }

  #testimonialCarousel .carousel-control-prev-icon,
  #testimonialCarousel .carousel-control-next-icon {
    width: 30px; /* Set the width of the element */
    height: 30px; /* Set the height of the element */
  }

  .carousel-indicators {
    bottom: 10px; /* Position the element relative to the bottom edge of its nearest positioned ancestor */
  }

  #newsletter {
    padding: 18px;
  }

  #subscribeForm,
  #emailInput,
  #referralLink {
    min-width: 100%;
  }
}

@media screen and (max-width: 404px) {
  to-top.active {
    bottom: 14rem; /* Position the element relative to the bottom edge of its nearest positioned ancestor */
  }
}

@media print {
  * {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  body {
    max-width: 800px;
    width: 100%;
    font-size: 12pt;
    background: none !important;
    color: #000000;
  }

  .no-typing {
    display: block;
  }

  .typing {
    display: none;
  }

  .slide-animation {
    opacity: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    -webkit-text-fill-color: #1177ff;
  }

  p {
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  ul.nav,
  button,
  .w-100.aos-item__inner {
    display: none !important;
  }

  button.btn {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: #808080;
  }

  a {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: #000000 !important;
    text-decoration: underline !important;
  }

  a::after {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: #808080;
    /* content: " (" attr(href) ")"; */
    font-size: 10pt;
  }

  a.navbar-brand {
    text-decoration: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  a.btn.btn-lg {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    text-decoration: none !important;
  }

  .btn-primary {
    color: #ffffff !important;
  }

  .feature {
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #print {
    display: none;
  }

  /* #copyright a {
    text-decoration: none !important;
  } */

  #bmc-button {
    color: #ffffff !important;
    text-decoration: none !important;
    /* display: none; */
  }

  #bmc-arrow {
    display: block;
    margin: 5pt auto 0;
    font-size: 15pt;
    text-decoration: none !important;
  }

  #bmc-link {
    display: block;
    margin-top: 0 !important;
    padding-top: 0 !important;
    color: #1177ff !important;
  }

  #chat {
    display: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
