* {
  margin: 0;
  border: 0;
  padding: 0; /* Remove any default padding */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; /* Remove any default padding */
  overflow-x: hidden;
}

#logo {
  height: 30px; /* Set the height of the logo to 30 pixels */
  margin-right: 5px; /* Set a right margin of 5 pixels to create space between the logo and the next element */
}

@font-face {
  font-family: 'Thirsty Script';
  src: url("ThirstyScriptExtraBold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Vag Rounded';
  src: url("VAG-Rounded-Regular.ttf") format("opentype");
}

#index-first-img {
  max-height: 30vh; /* Set the maximum height of the element to 30% of the viewport height */
}

to-top {
  background: #0088ff; /* Set the background color to a shade of blue */
  position: fixed; /* Position the element fixed to the viewport */
  bottom: 56px; /* Place the element 56 pixels from the bottom of the viewport */
  right: 25px; /* Place the element 25 pixels from the right side of the viewport */
  width: 45px; /* Set the width of the element to 45 pixels */
  height: 45px; /* Set the height of the element to 45 pixels */
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  z-index: 2; /* Set the stacking order of the element */
  font-size: 16px; /* Set the font size of the text */
  text-decoration: none; /* Remove underline from text links */
  pointer-events: none; /* Deactivate pointer events */
  transition: 0.25s; /* Set an effect of a transition */
  /* Use flexbox to center content inside the element */
  display: flex;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
  /* Apply a border radius to make the element circular */
  -webkit-border-radius: 50%; /* For older versions of Safari */
  -moz-border-radius: 50%; /* For older versions of Firefox */
  -o-border-radius: 50%; /* For older versions of Opera */
  border-radius: 50%; /* Standard property for border radius */
}

to-top.active {
  bottom: 56px; /* Place the element 56 pixels from the bottom of the viewport */
  pointer-events: auto;
  opacity: 1;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  -webkit-border-radius: .75rem; /* For older versions of Safari */
  -moz-border-radius: .75rem; /* For older versions of Firefox */
  -o-border-radius: .75rem; /* For older versions of Opera */
  border-radius: .75rem; /* Standard property for border radius */
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

#carouselContainer {
  margin: 0 auto;
  /* Use flexbox to center content inside the element */
  display: flex;
  justify-content: center; /* Center items horizontally*/
}

#carouselIndicators {
  height: 85vh;
  width: 50vw;
}

.carousel-inner {
  height: 85vh;
  width: 50vw;
}

#cards {
  text-align: center;
  font-family: "Sono", sans-serif; /* Set the font family to "Sono" and sans-serif */
  font-size: 1.7vh; /* Set the font size of the text */
  /* Use flexbox to center content inside the element */
  display: flex;
  gap: 2.5vw;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
  height: 80vh;
  width: 100%;
}

#cards:hover>.card::after {
  opacity: 0.01;
}

.card {
  -webkit-border-radius: 10px; /* For older versions of Safari */
  -moz-border-radius: 10px; /* For older versions of Firefox */
  -o-border-radius: 10px; /* For older versions of Opera */
  border-radius: 10px; /* Standard property for border radius */
  position: relative;
  width: calc(100% - 2px);
  min-width: 21vw;
  /* Use flexbox to center content inside the element */
  display: flex;
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
}

.card-content {
  height: 55vh;
  /* Use flexbox to center content inside the element */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
  -webkit-border-radius: inherit; /* For older versions of Safari */
  -moz-border-radius: inherit; /* For older versions of Firefox */
  -o-border-radius: inherit; /* For older versions of Opera */
  border-radius: inherit; /* Standard property for border radius */
  margin: 1px;
  z-index: 2; /* Set the stacking order of the element */
  background-color: #f2f2f2;
}

.card-content ul {
  list-style-type: none;
  align-self: center;
}

.card-custom ul {
  text-align: center;
}

.card-dark-theme::before {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
      #ffffff1a,
      transparent 90%);
  z-index: 3; /* Set the stacking order of the element */
}

.card-dark-theme::after {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
      #ffffff55,
      transparent 50%);
  z-index: 1; /* Set the stacking order of the element */
}

.card-light-theme::before {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
      #ffffff1a,
      transparent 90%);
  z-index: 3; /* Set the stacking order of the element */
}

.card-light-theme::after {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
      #ffffff55,
      transparent 50%);
  z-index: 1; /* Set the stacking order of the element */
}

.card::before,
.card::after {
  -webkit-border-radius: inherit; /* For older versions of Safari */
  -moz-border-radius: inherit; /* For older versions of Firefox */
  -o-border-radius: inherit; /* For older versions of Opera */
  border-radius: inherit; /* Standard property for border radius */
  content: "";
  height: 100%;
  left: 0;
  opacity: 0; /* Set the initial opacity to 0 (invisible) */
  position: absolute;
  top: 0;
  transition: opacity 500ms; /* Set an effect of a transition */
  width: 100%;
}

.card:hover::before {
  opacity: 1;
}

.card-label {
  width: 100%; /* Set the width of the card label to 100% of its parent container */
  height: 5vh; /* Set the height of the card label to 5% of the viewport height */
  position: absolute;/* Position the card label absolutely within its positioned ancestor */
  top: -20px; /* Place the card label 20 pixels above */
  padding: 0; /* Remove any default padding */
  background-color: #fff; /* Set the background color to white */
  color: #008cff; /* Set the text color to a shade of blue */
  font-family: "Sono", sans-serif; /* Set the font family to "Sono" and sans-serif */
  font-size: 14px; /* Set the font size of the text */
  text-align: center; /* Center the text within the card label */
  z-index: -1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the card label */
  -webkit-border-radius: 10px; /* For older versions of Safari */
  -moz-border-radius: 10px; /* For older versions of Firefox */
  -o-border-radius: 10px; /* For older versions of Opera */
  border-radius: 10px; /* Standard property for border radius */
}

.card-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1vh 0;
  font-weight: bold;
  font-size: 2.5vh; /* Set the font size of the text */
  color: #ffffff;
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
}

.plan-price {
  font-weight: bold;
  font-size: 4.5vh; /* Set the font size of the text */
  padding: 0; /* Remove any default padding */
}

.currency {
  font-size: 2vh; /* Set the font size of the text */
}

.plan-conditions {
  font-size: 2vh; /* Set the font size of the text */
  margin-bottom: 1vh;
}

.plan-features {
  text-align: center;
  padding: 0; /* Remove any default padding */
  flex-basis: 50%;
}

.plan-features>li {
  font-size: 3vh; /* Set the font size of the text */
}

#check-circle {
  height: 20px;
}

.plan-button {
  background-color: #fff; /* Set the background color to white */
  color: #007fff;
  padding: 0.75vh;
  border: solid 1px #007fff;
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
  font-size: 2.5vh; /* Set the font size of the text */
  font-weight: bold;
  display: none;
}

.plan-button:hover {
  cursor: pointer;
}

tab0d5 {
  padding-left: 22px;
}

thead {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  position: sticky;
  top: 0;
  z-index: 2; /* Set the stacking order of the element */
}

th {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #fff;
  color: #f2f2f2;
}

th, td {
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

td p {
  margin: 0;
}

.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.row>.aos-item {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/*noscript*/
#enable-javascript {
  width: 100vw;
  height: 100%;
  /* Use flexbox to center content inside the element */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
  padding: 0 25vw;
}

#enable-javascript>details {
  margin-top: 1.7vh;
}

noscript h2 {
  padding: 5vh 0;
}

noscript p {
  min-width: 50vw;
}

noscript details {
  min-width: 50vw;
}
